.full-screen {
    padding: 0;
}

.hide-count .remark-slide-number {
    display: none;
}

.grid-3-2 {
    display: grid;
    height: calc(100%);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
    padding: 1em;
}

.panelset-tile {
    background-color: #C66B3D;
    color: white;
}


.panelset-tile {
    background-color: #C66B3D;
}

.title-slide h1 {
    font-family: Roboto,var(--header-font-family);
    font-size: 3.5em;
    line-height: 1;
    margin-bottom: 0;
}

.title-slide h2 {
    font-family: Lato,var(--header-font-family);
    margin-top: 0;
}

.title-slide .author {
    font-family: Lato,var(--header-font-family);
    font-size: 1.5em;
    position: absolute;
    bottom: 0em;
}


.key {
    color:#000;
    margin:0 5px;
    padding:1px 5px;
    font-family:courier new;
    font-size:1.2em;
    border:1px #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:-webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0%, #fff),
	color-stop(25%, #fff)
	/* White Keyboard Key Style by Showeblogin */);
    background:-o-linear-gradient(left, #fff 0%, #fff 25%);
    background:-moz-linear-gradient(left, #fff 0%, #fff 25%);
    background:-webkit-linear-gradient(left, #fff 0%, #fff 25%);
    background:-ms-linear-gradient(left, #fff 0%, #fff 25%);
    background:linear-gradient(left, #fff 0%, #fff 25%);
    -webkit-box-shadow:1px 0 1px 0 #999, 0 2px 0 2px lightGray, 0 2px 0 3px #666;
    -moz-box-shadow:1px 0 1px 0 #999, 0 2px 0 2px lightGray, 0 2px 0 3px #666;
    box-shadow:1px 0 1px 0 #999, 0 2px 0 2px lightGray, 0 2px 0 3px #666;
}

.remark-slide-content h1 {
    margin-bottom: 0.25em;
}

.bigger {
    font-size: 1.3em;
}

.huge p:not(.remark-slide-number) {
    font-size: 5em;
}

.bigger pre code {
    font-size: 1em;
}

.remark-code-has-line-highlighted .remark-code-line:not(.remark-code-line-highlighted) {
    opacity: 0.4;
}

.remark-code-line-highlighted {
    background-color: inherit; /* Override highlight color */
    /* font-weight: 500; */
}

/* Line Hover Indicator */
.remark-code-line:hover {
    font-weight: bold;
    opacity: 1 !important;
}

.remark-code-line:hover:before {
    content: "\25B6";
    color: #6d7e8a;
    position: absolute;
    transform: translateX(-1.2em);
    animation: hover 0.66s alternate 8 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes hover {
    0% {
	transform: translateX(-1.2em);
    }
    100% {
	transform: translateX(-0.8em);
    }
}

::selection {
    background-color: #E5E5DC;
}

.not-last {
    display: none;
}
.has-continuation .not-last {
    display: unset;
}

.inverse .remark-slide-number {
  display: none;
}

.smaller {
    font-size: 10px;
}

.add-top-pad {
padding-top: 1.1em
}


.split-title > .row:first-of-type {
  height: 35%; width: 100%; position: absolute; top: 0; left: 0;
  background-color: var(--color-alt); color: var(--color-main);
}
.split-title > .row:nth-of-type(2) {
  height: 65%; width: 100%; position: absolute; left: 0; top: 35%;
  background-color: var(--color-main); color: var(--color-alt);
}

.split-main1 > .row:first-of-type {
  height: 15%; width: 100%; position: absolute; top: 0; left: 0;
  background-color: var(--color-main); color: var(--color-alt);
}
.split-main1 > .row:nth-of-type(2) {
  height: 80%; width: 100%; position: absolute; left: 0; bottom: 5%;
}
.split-main1 > .row:nth-of-type(3) {
  height: 5%; width: 100%; position: absolute; bottom: 0; left: 0;
  background-color: var(--color-main); color: var(--color-alt);
}

.split-main2 > .row:first-of-type {
  height: 15%; width: 100%; position: absolute; top: 0; left: 0;
  background-color: var(--color-main); color: var(--color-alt);
}
.split-main2 > .row:nth-of-type(2) {
  height: 40%; width: 100%; position: absolute; left: 0; top: 15%;
}
.split-main2 > .row:nth-of-type(3) {
  height: 40%; width: 100%; position: absolute; left: 0; bottom: 5%;
}
.split-main2 > .row:nth-of-type(4) {
  height: 5%; width: 100%; position: absolute; bottom: 0; left: 0;
  background-color: var(--color-main); color: var(--color-alt);
  vertical-align: middle;
}

.nosplit>.row:first-of-type {height: 100%; width:100%; position: absolute; top: 0; left: 0; }
.split-two>.column:first-of-type {width: 50%; height:100%; position: absolute; top: 0; left: 0; }
.split-two>.column:nth-of-type(2) {width: 50%; height:100%; position: absolute; top: 0; right: 0;}

.split-2-1-1>.column:first-of-type {width: 50%; height:100%; position: absolute; top: 0; left: 0; }
.split-2-1-1>.column:nth-of-type(2) {width: 25%; height:100%; position: absolute; top: 0; right: 25%;}
.split-2-1-1>.column:nth-of-type(3) {width: 25%; height:100%; position: absolute; top: 0; right: 0;}
.split-1-1-2>.column:first-of-type {width: 25%; height:100%; position: absolute; top: 0; left: 0; }
.split-1-1-2>.column:nth-of-type(2) {width: 25%; height:100%; position: absolute; top: 0; left: 25%;}
.split-1-1-2>.column:nth-of-type(3) {width: 50%; height:100%; position: absolute; top: 0; right: 0;}
.split-1-2-1>.column:first-of-type {width: 25%; height:100%; position: absolute; top: 0; left: 0; }
.split-1-2-1>.column:nth-of-type(2) {width: 50%; height:100%; position: absolute; top: 0; left: 25%;}
.split-1-2-1>.column:nth-of-type(3) {width: 25%; height:100%; position: absolute; top: 0; right: 0;}